body {
    font-family: Arial, sans-serif;
    margin: 100;
    padding: 200;
    background-color: #f4f4f4;
    text-align: center;
    position: center;
}

header {
    background-color: #911010;
    color: rgb(0, 0, 0);
    padding: 10px 0;
    text-align: center;
    position: center;
}

nav {
    background-color: #444;
    overflow: hidden;
    text-align: center;
    display :flex;
    justify-content: center;
}


nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    position: center;
}

nav a:hover {
    background-color: #3e49af;
}

section {
    padding: 20px;
}

h2 {
    color: #333;
    text-align: center;
}

.gallery img {
    width: 400px;
    height: 500px;;
    margin: 5px;
    border-radius: 5px;
    object-fit: cover;
}

.gallery img :hover {
    transform(1.1);
}

.proektberbata img {
    width: 600px;
    height: 600px;;
    margin: 5px;
    border-radius: 5px;
    object-fit: cover;
}

.khhk img {
    width: 600px;
    height: 600px;;
    margin: 5px;
    border-radius: 5px;
    object-fit: cover;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
}




